<?js
var data = obj || {};
if (data.description) {
?>
<div class="param-desc">
    <?js= description ?>
</div>
<?js } ?>

<?js if (data.type && data.type.names) {?>
<span class="param-type">
	<dd><?js= this.partial('type.tmpl', data.type.names).replace('(', '').replace(')', '').replace('|', ' | ') ?></dd>
</span>
<?js } ?>
